#### Installing SQlite

In [ ]:
l

In [2]:
import sqlite3

#### Connecting with SQLite

In [5]:
db = sqlite3.connect('myDatabse.db') #here provide the file name where u have to store the structured data

#### Create the cursor

In [6]:
c = db.cursor()

In [10]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 46C8-E9DC

 Directory of C:\Users\Siddhant

31-01-2023  14:30     1,447,577,467 #Magoosh GRE Videos Collected From (DnaRna Collection)-20230131T085836Z-001.zip
02-03-2024  17:24    <DIR>          .
08-10-2022  23:53    <DIR>          ..
18-11-2022  20:15    <DIR>          .anaconda
08-10-2022  14:09    <DIR>          .btfs
25-05-2023  01:50    <DIR>          .cache
18-11-2022  21:47    <DIR>          .conda
11-10-2022  21:51                25 .condarc
24-02-2024  01:39    <DIR>          .config
11-10-2022  21:51    <DIR>          .continuum
21-11-2023  00:32    <DIR>          .cufflinks
27-02-2024  17:21    <DIR>          .dbclient
25-11-2022  21:35    <DIR>          .docker
31-05-2023  20:00    <DIR>          .dotnet
04-10-2022  16:48                62 .gitconfig
02-03-2024  16:24    <DIR>          .ipynb_checkpoints
18-11-2022  21:40    <DIR>          .ipython
30-10-2023  15:38    <DIR>          .jupyter
19-11-2022  16:59    <DIR>          .keras
14-11-2022  21:39    <DIR>          .matplotlib
24-05-2023  22:38    <DIR>          .nbi
03-12-2023  22:43            34,490 .pdfbox.cache
15-03-2023  12:55    <DIR>          .spyder-py3
30-05-2023  21:48    <DIR>          .streamlit
20-02-2023  10:52    <DIR>          .venvs
18-11-2022  15:55    <DIR>          .VirtualBox
27-02-2024  17:08    <DIR>          .vscode
02-03-2024  15:43           390,355 19.3.2 pyMongo.ipynb
28-09-2022  12:41    <DIR>          3D Objects
30-10-2023  15:48                 0 5.3
06-12-2023  17:18               515 admission_lr_model.pickle
06-12-2023  15:57            16,085 Admission_Prediction.csv
25-08-2023  02:40         3,974,305 adult.data
05-12-2023  01:09             4,756 Advertising.csv
05-12-2023  15:29           522,048 ai4i2020.csv
13-01-2024  17:35         8,873,807 All_regression_practical.ipynb
05-12-2023  00:40    <DIR>          anaconda3
28-09-2022  12:10    <DIR>          ansel
31-10-2023  04:52    <DIR>          bank
14-02-2012  14:38           461,474 bank.csv
20-11-2022  21:42             1,929 CBOW.py
26-11-2023  02:29         1,184,203 cleaned_google_playstore_data.csv
20-11-2022  21:42             1,241 CNN.py
08-10-2022  23:58    <DIR>          Contacts
20-01-2024  00:30             4,286 Customers.csv
16-01-2024  16:41        15,348,798 Decision Trees.ipynb
27-02-2024  17:08    <DIR>          Desktop
27-02-2024  15:40    <DIR>          Documents
02-03-2024  15:51    <DIR>          Downloads
28-09-2022  11:47    <DIR>          Dropbox
16-01-2024  16:26           281,754 dt_en_model.png
28-10-2023  21:08         4,767,864 e6038522.mp4
26-11-2023  02:30           227,507 EDA (Data_Cleaning).ipynb
30-11-2023  12:32            34,651 EDA (Feature Engineering and preprocessing).ipynb
29-11-2023  22:38         2,931,664 EDA(Analysis).ipynb
07-10-2023  13:54            29,670 Exception_Handling.ipynb
09-02-2023  13:55           289,577 face.jpg
13-02-2023  13:12            79,214 Face.py
08-10-2022  23:58    <DIR>          Favorites
20-11-2022  21:48             1,114 FeedForward.py
03-02-2023  14:31           856,664 Figure 2023-02-03 143123.png
03-02-2023  15:31           472,171 Figure 2023-02-03 153104.png
03-02-2023  15:51           472,117 Figure 2023-02-03 155117.png
03-02-2023  15:54         8,308,196 Figure 2023-02-03 155454.png
03-02-2023  16:00         8,308,409 Figure 2023-02-03 160050.png
14-02-2023  16:30         1,528,411 Figure 2023-02-14 163055.png
14-02-2023  16:31         1,382,377 Figure 2023-02-14 163101.png
15-10-2023  11:21               483 file.txt
13-04-2023  13:58            38,573 frame0.jpg
13-04-2023  11:55            60,049 frame698.jpg
13-04-2023  11:55            60,156 frame699.jpg
13-04-2023  11:55            60,000 frame700.jpg
25-11-2022  21:35    <DIR>          getting-started
01-03-2024  15:03            10,021 glass.csv
01-03-2024  17:17            11,903 glass.data
23-11-2023  14:37         1,349,314 googleplaystore.csv
25-02-2023  23:34             1,853 HaarcascadeClassifier.ipynb
20-01-2024  15:49           163,583 Hierarchical Clustering.ipynb
05-10-2023  10:32            17,378 Inheritance.ipynb
08-11-2023  01:06             5,107 Iris.csv
18-11-2022  21:55    <DIR>          Jedi
31-10-2023  14:50            35,428 json_rep.csv
20-01-2024  11:35           780,392 K-Means Clustering.ipynb
16-01-2024  17:45           147,763 knn(wine_data)
16-01-2024  21:10        10,970,530 KNN.ipynb
03-12-2023  21:58             7,395 LEONIA RESORT (1).csv
03-12-2023  21:58           917,419 LEONIA RESORT (1).pdf
13-01-2024  17:06               510 linear_reg.pkl
05-12-2023  01:58               510 linear_reg.sav
12-12-2023  11:38         1,952,024 Linear_Reg_Prac2.ipynb
13-01-2024  17:08            27,144 Linear_Regression_practical.ipynb
08-10-2022  23:58    <DIR>          Links
15-10-2023  10:54                 0 log1.txt
15-10-2023  11:25            17,177 Logging and file handling.ipynb
12-12-2023  13:20        26,302,154 Logistic_regerssion.ipynb
24-08-2023  16:53               299 market.py
22-12-2022  21:46            15,296 ML_bootcamp_Assignments.ipynb
31-01-2023  14:28        36,575,884 MS in USA - Fall 2020-20230131T085716Z-001.zip
08-10-2022  23:58    <DIR>          Music
06-11-2023  16:43               104 my_file
06-11-2023  16:43               144 my_file.npy
02-03-2024  17:24             8,192 myDatabse.db
15-10-2023  10:50                 0 mylog.txt
15-10-2023  11:00               148 new_file.txt
06-11-2023  19:56            72,320 Numpy.ipynb
12-10-2022  23:20    <DIR>          OneDrive
10-09-2023  15:30            19,235 OOP part 1-Ineuron.ipynb
10-09-2023  22:02             3,189 OOP part-2  Ineuron.ipynb
13-10-2023  14:39         2,573,626 output.xlsx
01-11-2023  01:31         1,227,250 Pandas.ipynb
27-04-2023  13:42    <DIR>          Pictures
21-11-2023  13:28         7,601,544 Plotting Graphs and charts.ipynb
15-10-2023  15:33    <DIR>          Postman
22-11-2023  13:42           986,607 Practical_Statistics.ipynb
07-10-2023  14:19    <DIR>          PycharmProjects
02-03-2024  14:36            37,541 PyMongo.ipynb
01-03-2024  17:53            50,069 PythonMySQL_Connection.ipynb
06-01-2024  17:03            67,691 Random Forest .ipynb
28-09-2022  12:41    <DIR>          Recorded Calls
08-10-2022  23:58    <DIR>          Saved Games
24-02-2024  01:40    <DIR>          scoop
08-10-2022  23:58    <DIR>          Searches
29-01-2023  11:46         4,348,120 Series-XV-Research Analyst Certification Examination_March2021.pdf
14-11-2022  22:14           191,328 Social Media Analytics for Twitter.ipynb
01-03-2024  17:15            69,247 SQL+Python.ipynb
02-03-2024  17:24             9,380 SQLite.ipynb
16-01-2024  21:57            34,593 Stacking.ipynb
16-01-2024  21:09            39,644 SVR.ipynb
28-10-2023  19:28               173 test - Sheet1.csv
28-10-2023  19:35               173 test - Sheet1.tsv
31-01-2023  14:30             7,039 Test Series Links.docx
14-11-2022  21:37         1,357,306 test.csv
13-01-2024  17:06         1,499,811 test.html
14-10-2023  16:53               327 test.log
09-02-2023  13:46           149,652 test_iaaamge3.jpeg
13-02-2023  12:58    <DIR>          TestSet
13-02-2023  12:57        11,744,460 TestSet.zip
16-11-2023  16:27            61,194 Titanic.csv
23-07-2023  18:43    <DIR>          Tracing
14-11-2022  21:37         1,259,820 train.csv
13-02-2023  12:58    <DIR>          TrainSet
13-02-2023  12:58         5,113,461 TrainSet.zip
14-11-2022  18:15            21,702 Untitled.ipynb
19-12-2022  00:07             4,752 Untitled1.ipynb
20-04-2023  18:11         1,334,384 Untitled10.ipynb
13-10-2023  14:38               858 Untitled11.ipynb
30-10-2023  15:20                72 Untitled12.ipynb
30-10-2023  15:26                72 Untitled13.ipynb
30-10-2023  15:33                72 Untitled14.ipynb
04-12-2023  05:44             1,922 Untitled15.ipynb
24-01-2024  11:46             3,390 Untitled16.ipynb
15-12-2022  21:23             3,298 Untitled2.ipynb
15-12-2022  22:18             1,058 Untitled3.ipynb
20-11-2022  21:02             1,253 untitled3.py
25-01-2023  11:11               969 Untitled4.ipynb
26-01-2023  21:41               782 Untitled5.ipynb
20-11-2022  22:29             1,968 untitled5.py
05-02-2023  12:11               589 Untitled6.ipynb
21-11-2022  06:46             1,115 untitled6.py
25-03-2023  11:07           379,561 Untitled7.ipynb
21-11-2022  06:31             1,044 untitled7.py
09-02-2023  13:56           348,947 Untitled8.ipynb
21-11-2022  07:07             1,772 untitled8.py
13-04-2023  13:58             4,056 Untitled9.ipynb
29-02-2024  22:32    <DIR>          Videos
22-12-2023  17:04           100,951 winequality-red.csv
11-01-2024  18:27            59,378 XGBoost.ipynb
             118 File(s)  1,628,702,904 bytes
              49 Dir(s)  127,651,303,424 bytes free

#### Create the table

In [7]:
c.execute('create table test(name text,batch_id int,marks int)')

In [8]:
c.fetchall()

[]

In [13]:
c.execute("insert into test values( 'sid',34535,454)")

#here if we check we can mydatabase-journal is created and this is related to data in table

In [17]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 46C8-E9DC

 Directory of C:\Users\Siddhant

31-01-2023  14:30     1,447,577,467 #Magoosh GRE Videos Collected From (DnaRna Collection)-20230131T085836Z-001.zip
02-03-2024  17:30    <DIR>          .
08-10-2022  23:53    <DIR>          ..
18-11-2022  20:15    <DIR>          .anaconda
08-10-2022  14:09    <DIR>          .btfs
25-05-2023  01:50    <DIR>          .cache
18-11-2022  21:47    <DIR>          .conda
11-10-2022  21:51                25 .condarc
24-02-2024  01:39    <DIR>          .config
11-10-2022  21:51    <DIR>          .continuum
21-11-2023  00:32    <DIR>          .cufflinks
27-02-2024  17:21    <DIR>          .dbclient
25-11-2022  21:35    <DIR>          .docker
31-05-2023  20:00    <DIR>          .dotnet
04-10-2022  16:48                62 .gitconfig
02-03-2024  16:24    <DIR>          .ipynb_checkpoints
18-11-2022  21:40    <DIR>          .ipython
30-10-2023  15:38    <DIR>          .jupyter
19-11-2022  16:59    <DIR>          .keras
14-11-2022  21:39    <DIR>          .matplotlib
24-05-2023  22:38    <DIR>          .nbi
03-12-2023  22:43            34,490 .pdfbox.cache
15-03-2023  12:55    <DIR>          .spyder-py3
30-05-2023  21:48    <DIR>          .streamlit
20-02-2023  10:52    <DIR>          .venvs
18-11-2022  15:55    <DIR>          .VirtualBox
27-02-2024  17:08    <DIR>          .vscode
02-03-2024  15:43           390,355 19.3.2 pyMongo.ipynb
28-09-2022  12:41    <DIR>          3D Objects
30-10-2023  15:48                 0 5.3
06-12-2023  17:18               515 admission_lr_model.pickle
06-12-2023  15:57            16,085 Admission_Prediction.csv
25-08-2023  02:40         3,974,305 adult.data
05-12-2023  01:09             4,756 Advertising.csv
05-12-2023  15:29           522,048 ai4i2020.csv
13-01-2024  17:35         8,873,807 All_regression_practical.ipynb
05-12-2023  00:40    <DIR>          anaconda3
28-09-2022  12:10    <DIR>          ansel
31-10-2023  04:52    <DIR>          bank
14-02-2012  14:38           461,474 bank.csv
20-11-2022  21:42             1,929 CBOW.py
26-11-2023  02:29         1,184,203 cleaned_google_playstore_data.csv
20-11-2022  21:42             1,241 CNN.py
08-10-2022  23:58    <DIR>          Contacts
20-01-2024  00:30             4,286 Customers.csv
16-01-2024  16:41        15,348,798 Decision Trees.ipynb
27-02-2024  17:08    <DIR>          Desktop
27-02-2024  15:40    <DIR>          Documents
02-03-2024  15:51    <DIR>          Downloads
28-09-2022  11:47    <DIR>          Dropbox
16-01-2024  16:26           281,754 dt_en_model.png
28-10-2023  21:08         4,767,864 e6038522.mp4
26-11-2023  02:30           227,507 EDA (Data_Cleaning).ipynb
30-11-2023  12:32            34,651 EDA (Feature Engineering and preprocessing).ipynb
29-11-2023  22:38         2,931,664 EDA(Analysis).ipynb
07-10-2023  13:54            29,670 Exception_Handling.ipynb
09-02-2023  13:55           289,577 face.jpg
13-02-2023  13:12            79,214 Face.py
08-10-2022  23:58    <DIR>          Favorites
20-11-2022  21:48             1,114 FeedForward.py
03-02-2023  14:31           856,664 Figure 2023-02-03 143123.png
03-02-2023  15:31           472,171 Figure 2023-02-03 153104.png
03-02-2023  15:51           472,117 Figure 2023-02-03 155117.png
03-02-2023  15:54         8,308,196 Figure 2023-02-03 155454.png
03-02-2023  16:00         8,308,409 Figure 2023-02-03 160050.png
14-02-2023  16:30         1,528,411 Figure 2023-02-14 163055.png
14-02-2023  16:31         1,382,377 Figure 2023-02-14 163101.png
15-10-2023  11:21               483 file.txt
13-04-2023  13:58            38,573 frame0.jpg
13-04-2023  11:55            60,049 frame698.jpg
13-04-2023  11:55            60,156 frame699.jpg
13-04-2023  11:55            60,000 frame700.jpg
25-11-2022  21:35    <DIR>          getting-started
01-03-2024  15:03            10,021 glass.csv
01-03-2024  17:17            11,903 glass.data
23-11-2023  14:37         1,349,314 googleplaystore.csv
25-02-2023  23:34             1,853 HaarcascadeClassifier.ipynb
20-01-2024  15:49           163,583 Hierarchical Clustering.ipynb
05-10-2023  10:32            17,378 Inheritance.ipynb
08-11-2023  01:06             5,107 Iris.csv
18-11-2022  21:55    <DIR>          Jedi
31-10-2023  14:50            35,428 json_rep.csv
20-01-2024  11:35           780,392 K-Means Clustering.ipynb
16-01-2024  17:45           147,763 knn(wine_data)
16-01-2024  21:10        10,970,530 KNN.ipynb
03-12-2023  21:58             7,395 LEONIA RESORT (1).csv
03-12-2023  21:58           917,419 LEONIA RESORT (1).pdf
13-01-2024  17:06               510 linear_reg.pkl
05-12-2023  01:58               510 linear_reg.sav
12-12-2023  11:38         1,952,024 Linear_Reg_Prac2.ipynb
13-01-2024  17:08            27,144 Linear_Regression_practical.ipynb
08-10-2022  23:58    <DIR>          Links
15-10-2023  10:54                 0 log1.txt
15-10-2023  11:25            17,177 Logging and file handling.ipynb
12-12-2023  13:20        26,302,154 Logistic_regerssion.ipynb
24-08-2023  16:53               299 market.py
22-12-2022  21:46            15,296 ML_bootcamp_Assignments.ipynb
31-01-2023  14:28        36,575,884 MS in USA - Fall 2020-20230131T085716Z-001.zip
08-10-2022  23:58    <DIR>          Music
06-11-2023  16:43               104 my_file
06-11-2023  16:43               144 my_file.npy
02-03-2024  17:24             8,192 myDatabse.db
02-03-2024  17:28                 0 myDatabse.db-journal
15-10-2023  10:50                 0 mylog.txt
15-10-2023  11:00               148 new_file.txt
06-11-2023  19:56            72,320 Numpy.ipynb
12-10-2022  23:20    <DIR>          OneDrive
10-09-2023  15:30            19,235 OOP part 1-Ineuron.ipynb
10-09-2023  22:02             3,189 OOP part-2  Ineuron.ipynb
13-10-2023  14:39         2,573,626 output.xlsx
01-11-2023  01:31         1,227,250 Pandas.ipynb
27-04-2023  13:42    <DIR>          Pictures
21-11-2023  13:28         7,601,544 Plotting Graphs and charts.ipynb
15-10-2023  15:33    <DIR>          Postman
22-11-2023  13:42           986,607 Practical_Statistics.ipynb
07-10-2023  14:19    <DIR>          PycharmProjects
02-03-2024  14:36            37,541 PyMongo.ipynb
01-03-2024  17:53            50,069 PythonMySQL_Connection.ipynb
06-01-2024  17:03            67,691 Random Forest .ipynb
28-09-2022  12:41    <DIR>          Recorded Calls
08-10-2022  23:58    <DIR>          Saved Games
24-02-2024  01:40    <DIR>          scoop
08-10-2022  23:58    <DIR>          Searches
29-01-2023  11:46         4,348,120 Series-XV-Research Analyst Certification Examination_March2021.pdf
14-11-2022  22:14           191,328 Social Media Analytics for Twitter.ipynb
01-03-2024  17:15            69,247 SQL+Python.ipynb
02-03-2024  17:30            21,438 SQLite.ipynb
16-01-2024  21:57            34,593 Stacking.ipynb
16-01-2024  21:09            39,644 SVR.ipynb
28-10-2023  19:28               173 test - Sheet1.csv
28-10-2023  19:35               173 test - Sheet1.tsv
31-01-2023  14:30             7,039 Test Series Links.docx
14-11-2022  21:37         1,357,306 test.csv
13-01-2024  17:06         1,499,811 test.html
14-10-2023  16:53               327 test.log
09-02-2023  13:46           149,652 test_iaaamge3.jpeg
13-02-2023  12:58    <DIR>          TestSet
13-02-2023  12:57        11,744,460 TestSet.zip
16-11-2023  16:27            61,194 Titanic.csv
23-07-2023  18:43    <DIR>          Tracing
14-11-2022  21:37         1,259,820 train.csv
13-02-2023  12:58    <DIR>          TrainSet
13-02-2023  12:58         5,113,461 TrainSet.zip
14-11-2022  18:15            21,702 Untitled.ipynb
19-12-2022  00:07             4,752 Untitled1.ipynb
20-04-2023  18:11         1,334,384 Untitled10.ipynb
13-10-2023  14:38               858 Untitled11.ipynb
30-10-2023  15:20                72 Untitled12.ipynb
30-10-2023  15:26                72 Untitled13.ipynb
30-10-2023  15:33                72 Untitled14.ipynb
04-12-2023  05:44             1,922 Untitled15.ipynb
24-01-2024  11:46             3,390 Untitled16.ipynb
15-12-2022  21:23             3,298 Untitled2.ipynb
15-12-2022  22:18             1,058 Untitled3.ipynb
20-11-2022  21:02             1,253 untitled3.py
25-01-2023  11:11               969 Untitled4.ipynb
26-01-2023  21:41               782 Untitled5.ipynb
20-11-2022  22:29             1,968 untitled5.py
05-02-2023  12:11               589 Untitled6.ipynb
21-11-2022  06:46             1,115 untitled6.py
25-03-2023  11:07           379,561 Untitled7.ipynb
21-11-2022  06:31             1,044 untitled7.py
09-02-2023  13:56           348,947 Untitled8.ipynb
21-11-2022  07:07             1,772 untitled8.py
13-04-2023  13:58             4,056 Untitled9.ipynb
29-02-2024  22:32    <DIR>          Videos
22-12-2023  17:04           100,951 winequality-red.csv
11-01-2024  18:27            59,378 XGBoost.ipynb
             119 File(s)  1,628,714,962 bytes
              49 Dir(s)  127,653,519,360 bytes free

In [18]:
c.execute("insert into test values( 'sid',34535,454)")
c.execute("insert into test values( 'sid',34535,454)")
c.execute("insert into test values( 'sid',34535,454)")
c.execute("insert into test values( 'sid',34535,454)")
c.execute("insert into test values( 'sid',34535,454)")
c.execute("insert into test values( 'sid',34535,454)")
c.execute("insert into test values( 'sid',34535,454)")
c.execute("insert into test values( 'sid',34535,454)")
c.execute("insert into test values( 'sid',34535,454)")

In [20]:
c.execute("select * from test")

In [21]:
c.fetchall()

[('sid', 34535, 454),
 ('sid', 34535, 454),
 ('sid', 34535, 454),
 ('sid', 34535, 454),
 ('sid', 34535, 454),
 ('sid', 34535, 454),
 ('sid', 34535, 454),
 ('sid', 34535, 454),
 ('sid', 34535, 454),
 ('sid', 34535, 454)]

In [22]:
db.commit()

In [23]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 46C8-E9DC

 Directory of C:\Users\Siddhant

31-01-2023  14:30     1,447,577,467 #Magoosh GRE Videos Collected From (DnaRna Collection)-20230131T085836Z-001.zip
02-03-2024  17:32    <DIR>          .
08-10-2022  23:53    <DIR>          ..
18-11-2022  20:15    <DIR>          .anaconda
08-10-2022  14:09    <DIR>          .btfs
25-05-2023  01:50    <DIR>          .cache
18-11-2022  21:47    <DIR>          .conda
11-10-2022  21:51                25 .condarc
24-02-2024  01:39    <DIR>          .config
11-10-2022  21:51    <DIR>          .continuum
21-11-2023  00:32    <DIR>          .cufflinks
27-02-2024  17:21    <DIR>          .dbclient
25-11-2022  21:35    <DIR>          .docker
31-05-2023  20:00    <DIR>          .dotnet
04-10-2022  16:48                62 .gitconfig
02-03-2024  16:24    <DIR>          .ipynb_checkpoints
18-11-2022  21:40    <DIR>          .ipython
30-10-2023  15:38    <DIR>          .jupyter
19-11-2022  16:59    <DIR>          .keras
14-11-2022  21:39    <DIR>          .matplotlib
24-05-2023  22:38    <DIR>          .nbi
03-12-2023  22:43            34,490 .pdfbox.cache
15-03-2023  12:55    <DIR>          .spyder-py3
30-05-2023  21:48    <DIR>          .streamlit
20-02-2023  10:52    <DIR>          .venvs
18-11-2022  15:55    <DIR>          .VirtualBox
27-02-2024  17:08    <DIR>          .vscode
02-03-2024  15:43           390,355 19.3.2 pyMongo.ipynb
28-09-2022  12:41    <DIR>          3D Objects
30-10-2023  15:48                 0 5.3
06-12-2023  17:18               515 admission_lr_model.pickle
06-12-2023  15:57            16,085 Admission_Prediction.csv
25-08-2023  02:40         3,974,305 adult.data
05-12-2023  01:09             4,756 Advertising.csv
05-12-2023  15:29           522,048 ai4i2020.csv
13-01-2024  17:35         8,873,807 All_regression_practical.ipynb
05-12-2023  00:40    <DIR>          anaconda3
28-09-2022  12:10    <DIR>          ansel
31-10-2023  04:52    <DIR>          bank
14-02-2012  14:38           461,474 bank.csv
20-11-2022  21:42             1,929 CBOW.py
26-11-2023  02:29         1,184,203 cleaned_google_playstore_data.csv
20-11-2022  21:42             1,241 CNN.py
08-10-2022  23:58    <DIR>          Contacts
20-01-2024  00:30             4,286 Customers.csv
16-01-2024  16:41        15,348,798 Decision Trees.ipynb
27-02-2024  17:08    <DIR>          Desktop
27-02-2024  15:40    <DIR>          Documents
02-03-2024  15:51    <DIR>          Downloads
28-09-2022  11:47    <DIR>          Dropbox
16-01-2024  16:26           281,754 dt_en_model.png
28-10-2023  21:08         4,767,864 e6038522.mp4
26-11-2023  02:30           227,507 EDA (Data_Cleaning).ipynb
30-11-2023  12:32            34,651 EDA (Feature Engineering and preprocessing).ipynb
29-11-2023  22:38         2,931,664 EDA(Analysis).ipynb
07-10-2023  13:54            29,670 Exception_Handling.ipynb
09-02-2023  13:55           289,577 face.jpg
13-02-2023  13:12            79,214 Face.py
08-10-2022  23:58    <DIR>          Favorites
20-11-2022  21:48             1,114 FeedForward.py
03-02-2023  14:31           856,664 Figure 2023-02-03 143123.png
03-02-2023  15:31           472,171 Figure 2023-02-03 153104.png
03-02-2023  15:51           472,117 Figure 2023-02-03 155117.png
03-02-2023  15:54         8,308,196 Figure 2023-02-03 155454.png
03-02-2023  16:00         8,308,409 Figure 2023-02-03 160050.png
14-02-2023  16:30         1,528,411 Figure 2023-02-14 163055.png
14-02-2023  16:31         1,382,377 Figure 2023-02-14 163101.png
15-10-2023  11:21               483 file.txt
13-04-2023  13:58            38,573 frame0.jpg
13-04-2023  11:55            60,049 frame698.jpg
13-04-2023  11:55            60,156 frame699.jpg
13-04-2023  11:55            60,000 frame700.jpg
25-11-2022  21:35    <DIR>          getting-started
01-03-2024  15:03            10,021 glass.csv
01-03-2024  17:17            11,903 glass.data
23-11-2023  14:37         1,349,314 googleplaystore.csv
25-02-2023  23:34             1,853 HaarcascadeClassifier.ipynb
20-01-2024  15:49           163,583 Hierarchical Clustering.ipynb
05-10-2023  10:32            17,378 Inheritance.ipynb
08-11-2023  01:06             5,107 Iris.csv
18-11-2022  21:55    <DIR>          Jedi
31-10-2023  14:50            35,428 json_rep.csv
20-01-2024  11:35           780,392 K-Means Clustering.ipynb
16-01-2024  17:45           147,763 knn(wine_data)
16-01-2024  21:10        10,970,530 KNN.ipynb
03-12-2023  21:58             7,395 LEONIA RESORT (1).csv
03-12-2023  21:58           917,419 LEONIA RESORT (1).pdf
13-01-2024  17:06               510 linear_reg.pkl
05-12-2023  01:58               510 linear_reg.sav
12-12-2023  11:38         1,952,024 Linear_Reg_Prac2.ipynb
13-01-2024  17:08            27,144 Linear_Regression_practical.ipynb
08-10-2022  23:58    <DIR>          Links
15-10-2023  10:54                 0 log1.txt
15-10-2023  11:25            17,177 Logging and file handling.ipynb
12-12-2023  13:20        26,302,154 Logistic_regerssion.ipynb
24-08-2023  16:53               299 market.py
22-12-2022  21:46            15,296 ML_bootcamp_Assignments.ipynb
31-01-2023  14:28        36,575,884 MS in USA - Fall 2020-20230131T085716Z-001.zip
08-10-2022  23:58    <DIR>          Music
06-11-2023  16:43               104 my_file
06-11-2023  16:43               144 my_file.npy
02-03-2024  17:32             8,192 myDatabse.db
15-10-2023  10:50                 0 mylog.txt
15-10-2023  11:00               148 new_file.txt
06-11-2023  19:56            72,320 Numpy.ipynb
12-10-2022  23:20    <DIR>          OneDrive
10-09-2023  15:30            19,235 OOP part 1-Ineuron.ipynb
10-09-2023  22:02             3,189 OOP part-2  Ineuron.ipynb
13-10-2023  14:39         2,573,626 output.xlsx
01-11-2023  01:31         1,227,250 Pandas.ipynb
27-04-2023  13:42    <DIR>          Pictures
21-11-2023  13:28         7,601,544 Plotting Graphs and charts.ipynb
15-10-2023  15:33    <DIR>          Postman
22-11-2023  13:42           986,607 Practical_Statistics.ipynb
07-10-2023  14:19    <DIR>          PycharmProjects
02-03-2024  14:36            37,541 PyMongo.ipynb
01-03-2024  17:53            50,069 PythonMySQL_Connection.ipynb
06-01-2024  17:03            67,691 Random Forest .ipynb
28-09-2022  12:41    <DIR>          Recorded Calls
08-10-2022  23:58    <DIR>          Saved Games
24-02-2024  01:40    <DIR>          scoop
08-10-2022  23:58    <DIR>          Searches
29-01-2023  11:46         4,348,120 Series-XV-Research Analyst Certification Examination_March2021.pdf
14-11-2022  22:14           191,328 Social Media Analytics for Twitter.ipynb
01-03-2024  17:15            69,247 SQL+Python.ipynb
02-03-2024  17:32            33,669 SQLite.ipynb
16-01-2024  21:57            34,593 Stacking.ipynb
16-01-2024  21:09            39,644 SVR.ipynb
28-10-2023  19:28               173 test - Sheet1.csv
28-10-2023  19:35               173 test - Sheet1.tsv
31-01-2023  14:30             7,039 Test Series Links.docx
14-11-2022  21:37         1,357,306 test.csv
13-01-2024  17:06         1,499,811 test.html
14-10-2023  16:53               327 test.log
09-02-2023  13:46           149,652 test_iaaamge3.jpeg
13-02-2023  12:58    <DIR>          TestSet
13-02-2023  12:57        11,744,460 TestSet.zip
16-11-2023  16:27            61,194 Titanic.csv
23-07-2023  18:43    <DIR>          Tracing
14-11-2022  21:37         1,259,820 train.csv
13-02-2023  12:58    <DIR>          TrainSet
13-02-2023  12:58         5,113,461 TrainSet.zip
14-11-2022  18:15            21,702 Untitled.ipynb
19-12-2022  00:07             4,752 Untitled1.ipynb
20-04-2023  18:11         1,334,384 Untitled10.ipynb
13-10-2023  14:38               858 Untitled11.ipynb
30-10-2023  15:20                72 Untitled12.ipynb
30-10-2023  15:26                72 Untitled13.ipynb
30-10-2023  15:33                72 Untitled14.ipynb
04-12-2023  05:44             1,922 Untitled15.ipynb
24-01-2024  11:46             3,390 Untitled16.ipynb
15-12-2022  21:23             3,298 Untitled2.ipynb
15-12-2022  22:18             1,058 Untitled3.ipynb
20-11-2022  21:02             1,253 untitled3.py
25-01-2023  11:11               969 Untitled4.ipynb
26-01-2023  21:41               782 Untitled5.ipynb
20-11-2022  22:29             1,968 untitled5.py
05-02-2023  12:11               589 Untitled6.ipynb
21-11-2022  06:46             1,115 untitled6.py
25-03-2023  11:07           379,561 Untitled7.ipynb
21-11-2022  06:31             1,044 untitled7.py
09-02-2023  13:56           348,947 Untitled8.ipynb
21-11-2022  07:07             1,772 untitled8.py
13-04-2023  13:58             4,056 Untitled9.ipynb
29-02-2024  22:32    <DIR>          Videos
22-12-2023  17:04           100,951 winequality-red.csv
11-01-2024  18:27            59,378 XGBoost.ipynb
             118 File(s)  1,628,727,193 bytes
              49 Dir(s)  127,656,062,976 bytes free

In [24]:
db.close()

#  SQL Magic Statemnets

Magic commands or magic functions are special commands in Jupyter Notebooks that provide special functionalities. They are not valid Python code but affect the behavior of the notebook. They are designed to solve various common problems in standard data analysis. There are two types of magic statements in Jupyter notebooks, line magics and cell magics. Line magics in Jupyter notebooks are commands that are prefixed with a single percentage character and operate on a single line of input. They are like command line calls in a terminal shell. On the other hand, cell magics are prefixed with two percentage characters and operate on multiple lines of input. They can even transform the entire cell or execute the cell in a different programming language. Some popularly used Line Magics in Jupyter notebooks, %pwd.

###### installation required for magicSQL

In [27]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: six in c:\users\siddhant\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------- 41.2/41.2 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: ipython in c:\users\siddhant\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.27-cp39-cp39-win_amd64.whl (2.1 MB)
     ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
     ----- ---------------------------------- 0.3/2.1 MB 9.6 MB/s eta 0:00:01
     ---------------- ----------------------- 0.8/2.1 MB 10.8 MB/s eta 0:00:01
     ----------------------------- ---------- 1.5/2.1 MB 12.2 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 13.2 MB/s eta 0:00:00
Collecting prettytable
  Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Requirement already satisfied: ipython-genutils in c:\users\siddhant\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\siddhant\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\siddhant\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: matplotlib-inline in c:\users\siddhant\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pygments>=2.4.0 in c:\users\siddhant\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\siddhant\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: stack-data in c:\users\siddhant\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\siddhant\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\siddhant\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\siddhant\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: backcall in c:\users\siddhant\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\siddhant\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\siddhant\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\siddhant\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\siddhant\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\siddhant\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\siddhant\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\siddhant\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.27 sqlparse-0.4.4

##### Example of cell magic statement

In [33]:
%%html
<h1> Hello World </h1>

##### Load the extension to run SQL MAGIC in Jupyter Notebooks

In [35]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

##### After this establish the connection with SQLite

In [40]:
db = sqlite3.connect('myDatabse.db')

###### Now establish connection for SQL magic module to SQL server being used in thisway :

In [42]:
%sql sqlite:///myDatabase.db

##### Now for SQl statements no need to use cursor and execute statements 

##### By using %sql u can start writing sql query.

In [44]:
%sql create table person(name text ,email text , age int , salary real)

 * sqlite:///myDatabase.db
Done.

[]

In [50]:
%sql insert into person values('sudh','sudh@gmail.com',234,2323265),('prashant','prashant@gmail.com',345,2326264949),('krish','krish@gmail.com',2345,1142494),('sunny','sunny@gmail.com',154,77989879 )

 * sqlite:///myDatabase.db
4 rows affected.

[]

In [52]:
result = %sql select * from person

 * sqlite:///myDatabase.db
Done.

In [61]:
result

[('sudh', 'sudh@gmail.com', 234, 2323265.0),
 ('prashant', 'prashant@gmail.com', 345, 2326264949.0),
 ('krish', 'krish@gmail.com', 2345, 1142494.0),
 ('sunny', 'sunny@gmail.com', 154, 77989879.0)]

In [65]:
db.close()

In [67]:
db = sqlite3.connect('myDatabase.db')

In [68]:
c = db.cursor()

In [69]:
data =c.execute('select * from person')

In [71]:
for i in data :
    print(i)

('sudh', 'sudh@gmail.com', 234, 2323265.0)
('prashant', 'prashant@gmail.com', 345, 2326264949.0)
('krish', 'krish@gmail.com', 2345, 1142494.0)
('sunny', 'sunny@gmail.com', 154, 77989879.0)

In [78]:
data =c.execute('select * from person limit 2')

In [79]:

c.fetchall()

[('sudh', 'sudh@gmail.com', 234, 2323265.0),
 ('prashant', 'prashant@gmail.com', 345, 2326264949.0)]

In [80]:
db.close()

In [81]:
db = sqlite3.connect('jobdb.db')

In [82]:
c = db.cursor()

In [91]:
c.execute('create table student (student_id int ,student_name text, student_email text,marks int )')

In [96]:
c.execute('create table address(student_id int,pincode int, location text,nearby text,ph_no int)')

In [92]:
c.execute("insert into student values(234,'siddhant','siddhant@gmail.com',234)")
c.execute("insert into student values(235,'siddhant','siddhant@gmail.com',234)")
c.execute("insert into student values(236,'siddhant','siddhant@gmail.com',234)")
c.execute("insert into student values(237,'siddhant','siddhant@gmail.com',234)")
c.execute("insert into student values(238,'siddhant','siddhant@gmail.com',234)")
c.execute("insert into student values(239,'siddhant','siddhant@gmail.com',234)")

In [93]:
c.execute("insert into student values(240,'siddhant','siddhant@gmail.com',234)")
c.execute("insert into student values(241,'siddhant','siddhant@gmail.com',234)")
c.execute("insert into student values(242,'siddhant','siddhant@gmail.com',234)")
c.execute("insert into student values(243,'siddhant','siddhant@gmail.com',234)")
c.execute("insert into student values(244,'siddhant','siddhant@gmail.com',234)")
c.execute("insert into student values(245,'siddhant','siddhant@gmail.com',234)")

In [97]:
c.execute("insert into address values(234,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(235,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(236,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(237,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(238,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(239,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(240,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(241,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(242,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(243,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(244,560034,'whitefield','ineuron officce',6461658965)")
c.execute("insert into address values(245,560034,'whitefield','ineuron officce',6461658965)")

In [98]:
for i in c.execute('select * from address') :
    print(i)

(234, 560034, 'whitefield', 'ineuron officce', 6461658965)
(235, 560034, 'whitefield', 'ineuron officce', 6461658965)
(236, 560034, 'whitefield', 'ineuron officce', 6461658965)
(237, 560034, 'whitefield', 'ineuron officce', 6461658965)
(238, 560034, 'whitefield', 'ineuron officce', 6461658965)
(239, 560034, 'whitefield', 'ineuron officce', 6461658965)
(240, 560034, 'whitefield', 'ineuron officce', 6461658965)
(241, 560034, 'whitefield', 'ineuron officce', 6461658965)
(242, 560034, 'whitefield', 'ineuron officce', 6461658965)
(243, 560034, 'whitefield', 'ineuron officce', 6461658965)
(244, 560034, 'whitefield', 'ineuron officce', 6461658965)
(245, 560034, 'whitefield', 'ineuron officce', 6461658965)

In [100]:
for i in c.execute('select * from student') :
    print(i)

(234, 'siddhant', 'siddhant@gmail.com', 234)
(235, 'siddhant', 'siddhant@gmail.com', 234)
(236, 'siddhant', 'siddhant@gmail.com', 234)
(237, 'siddhant', 'siddhant@gmail.com', 234)
(238, 'siddhant', 'siddhant@gmail.com', 234)
(239, 'siddhant', 'siddhant@gmail.com', 234)
(240, 'siddhant', 'siddhant@gmail.com', 234)
(241, 'siddhant', 'siddhant@gmail.com', 234)
(242, 'siddhant', 'siddhant@gmail.com', 234)
(243, 'siddhant', 'siddhant@gmail.com', 234)
(244, 'siddhant', 'siddhant@gmail.com', 234)
(245, 'siddhant', 'siddhant@gmail.com', 234)

##### print address of all students

In [103]:
for i in c.execute('select s.student_id,a.location,a.nearby,a.ph_no from student as s left join address a on s.student_id = a.student_id'):
    print(i)

(234, 'whitefield', 'ineuron officce', 6461658965)
(235, 'whitefield', 'ineuron officce', 6461658965)
(236, 'whitefield', 'ineuron officce', 6461658965)
(237, 'whitefield', 'ineuron officce', 6461658965)
(238, 'whitefield', 'ineuron officce', 6461658965)
(239, 'whitefield', 'ineuron officce', 6461658965)
(240, 'whitefield', 'ineuron officce', 6461658965)
(241, 'whitefield', 'ineuron officce', 6461658965)
(242, 'whitefield', 'ineuron officce', 6461658965)
(243, 'whitefield', 'ineuron officce', 6461658965)
(244, 'whitefield', 'ineuron officce', 6461658965)
(245, 'whitefield', 'ineuron officce', 6461658965)

##### SQLite doesnt support right and full join

In [105]:
c.execute('delete from student where student_id > 237')

In [106]:
for i in c.execute("select * from student") :
    print(i)

(234, 'siddhant', 'siddhant@gmail.com', 234)
(235, 'siddhant', 'siddhant@gmail.com', 234)
(236, 'siddhant', 'siddhant@gmail.com', 234)
(237, 'siddhant', 'siddhant@gmail.com', 234)

In [107]:
c.execute("update student set student_id =1000 where student_id = 236")

In [108]:
data = c.execute("select * from student")

In [109]:
data.fetchall()

[(234, 'siddhant', 'siddhant@gmail.com', 234),
 (235, 'siddhant', 'siddhant@gmail.com', 234),
 (1000, 'siddhant', 'siddhant@gmail.com', 234),
 (237, 'siddhant', 'siddhant@gmail.com', 234)]

In [110]:
db.close()